{% extends 'admin/base.html.twig' %}

{% block title %}Administration des équipes.{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1 class="my-5">Gestion des équipes</h1>
        </div>
        <div class="col">
            <a href="{{ path('admin_equipes_create')}}" class="btn btn-primary my-5">Ajouter une équipe</a>
        </div>
    </div>
    
    <table class="table table-over">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Entraineur</th>
                <th>Stade</th>
                <th class="text-center">Logo</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for eq in eqs %}
            <tr>
                <td><span class="badge badge-primary rounded">{{eq.id}}</span></td>
                <td>{{eq.nom}}</td>
                <td><img src="{{ eq.entraineurs.photo }}" class="logoEq mr-2" alt="Photo">{{eq.entraineurs.nom}}</td>
                <td>{{eq.stades.nom}}</td>
                <td class="text-center"><img src="{{ eq.logo }}" class="logoEq" alt="Logo"></td>
                <td class="text-center">
                    <a href="{{ path('admin_equipes_edit', {'id': eq.id})}}" class="badge badge-pill badge-primary">Edit</a>
                    <a href="{{ path('admin_equipes_delete', {'id': eq.id})}}" class="badge badge-pill badge-danger">Suppr</a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
