{% extends 'admin/base.html.twig' %}

{% block title %}Administration des stats des joueurs.{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1 class="my-5">Gestion des statistiques des joueurs</h1>
        </div>
        <div class="col">
            <a href="{{ path('admin_statsjoueurs_create')}}" class="btn btn-primary my-5">Ajouter une statistique</a>
        </div>
    </div>
    <table class="table table-over">
        <thead>
            <tr>
                <th>Id</th>
                <th>Joueur</th>
                <th>Equipe</th>
                <th>Buts</th>
                <th>Minutes</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for stJ in pagination.data %}
            <tr>
                <td><span class="badge badge-primary rounded">{{stJ.id}}</span></td>
                <td>{{stJ.joueurs.prenom}} {{stJ.joueurs.nom}}</td>
                <td><img src="{{ stJ.joueurs.equipes.logo }}" class="logoEq mr-2" alt="Logo">{{stJ.joueurs.equipes.nom}}</td>
                <td><span class="badge badge-info rounded">{{stJ.buts}}</span></td>
                <td><span class="badge badge-info rounded">{{stJ.min}}</span></td>
                <td class="text-center">
                    <a href="{{ path('admin_statsjoueurs_edit', {'id': stJ.id})}}" class="badge badge-pill badge-primary">Edit</a>
                    <a href="{{ path('admin_statsjoueurs_delete', {'id': stJ.id})}}" class="badge badge-pill badge-danger">Suppr</a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{pagination.display()}}
</div>

{% endblock %}
